body{
text-align: center;
}
#App{
background-color: rgb(220, 20, 103);
color:blue;
}
#Game{
    background-color: rgb(20, 220, 63);
    color:red;
}
#ChatBot{
    background-color: rgb(184, 60, 11);
    color:skyblue
}
